@font-face {
  font-family: "RobotoRegular";
  src:
    url(fonts/roboto-regular.ttf) format("TrueType");
}
@font-face {
  font-family: "RobotoLight";
  src:
    url(fonts/roboto-light.ttf) format("TrueType");
}
@font-face {
  font-family: "RobotoThin";
  src:
    url(fonts/roboto-thin.ttf) format("TrueType");
}
@font-face {
  font-family: "Coolvetica";
  src:
    url(fonts/coolvetica.otf) format("OpenType");
}
