:root {
  /* FONTS */
  --PrimaryFont: "VCR OSD Mono";

  /* COLORS */
  --PrimaryBackgroundColor: #0D0D0D;
  --SecondaryBackgroundColor: #211319;
  
  --PrimaryTextColor: #FFFFFF;
  --SecondaryTextColor: #FA69C0;

  --ButtonHoverColor: #C689C6;
  --ButtonDefaultColor: #211319;

  --BadgesBackgroundColor: #233233;
  --BannerColor: #E278B8;
}

body, html {
  background-color: #060606;
  height: 100vh;
  margin: 0;
}

.bg-image {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1;
  display: block;
  background-image: url("assets/static.gif");
  background-size: cover;
  width: 100%;
  height: 100%;
  margin: -5px -10px -10px -5px;
  opacity: 2%;
}

.content {
  position: relative;
  left: 0;
  right: 0;
  z-index: 9999;
  margin-left: 20vw;
  margin-right: 20vw;
}

#profile {
  height: 27vh;
  width: 65vw;
  background-color: #233233;
  z-index: 9999;

  position: fixed;
  top: 3.5vh;
  left: 17.5vw; /* Perfectly centered in every resolution */
}
#pfp {
  width: 14vh;
  height: 14vh;

  content:url("assets/pfp.png");

  position: absolute;
  top: 3.8vh;
  left: 1.5vw;
}
#status {
  position: absolute;
}

.container.aboutme {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;

  position: absolute;
  left: 9.5vw;
  top: 4vh;
}

#age {
  order: 0;
  color: #FFF;
  font-family: var(--PrimaryFont);
  font-size: 1.65vh;
  text-align: left;
}
#name {
  order: 1;
  background: linear-gradient(217deg, rgba(213, 192, 219, 0.8), rgb(159, 126, 163) 70.71%),
            linear-gradient(127deg, rgba(175, 135, 170, 0.8), rgb(219, 179, 219) 70.71%),
            linear-gradient(336deg, rgba(148, 101, 132, 0.8), rgb(226, 196, 230) 70.71%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: var(--PrimaryFont);
  font-size: 5vh;
  font-weight: 300;
  text-align: left;
}
#title {
  order: 2;
  color: #FFF;
  font-family: var(--PrimaryFont);
  font-size: 2.3vh;
  text-align: left;
}

.about-background {
  height: 475px;
  width: 361px;
  background-color: var(--SecondaryBackgroundColor);
  border-radius: 20px;

  position: absolute;
  top: 180px;
  left: 19px;
}
.discord-name {
  font-family: var(--SecondaryFont);
  font-weight: 800;
  font-size: 25px;

  color: var(--PrimaryTextColor);

  position: absolute;
  left: 145px;
  top: 78px;
}
.pronouns {
  font-family: var(--PrimaryFont);
  font-size: 17px;

  background: -webkit-linear-gradient(45deg, #fa69c0, #e87bbc);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  text-shadow: 0px 0px 5px #e87bbc;

  position: absolute;
  left: 145px;
  top: 105px;
}
.status {
  font-family: var(--PrimaryFont);
  font-size: 15px;

  text-align: center;

  position: relative;
  top: 18px;

  color: var(--PrimaryTextColor);
  -webkit-color: #000;
}
.badges-background {
  background-color: var(--BadgesBackgroundColor);
  border-radius: 10px;

  width: 75px;
  height: 30px;

  position: absolute;
  top: 133px;
  left: 143px;
}
.finnish-flag {
  height: 20px;
  width: 20px;

  position: absolute;
  top: 4.5px;
  left: 9px;
}
.trans-flag {
  height: 20px;
  width: 20px;

  position: absolute;
  top: 4.5px;
  left: 45px;
}
.h1 {
  font-family: var(--SecondaryFont);
  font-weight: 800;
  font-size: 15px;

  text-align: Center;

  position: relative;

  color: #FFFFFF
}
.about {
  font-family: var(--PrimaryFont);
  font-size: 15px;

  text-align: Left;

  position: absolute;
  left: 13px;
  top: 100px;

  color: var(--PrimaryTextColor);
}
.line {
  background-color: #FFFFFF;
}

.button {
  background-color: var(--ButtonDefaultColor);
  color: var(--PrimaryTextColor);
  border: 2px solid #444;
  text-align: right;
  font-size: 16px;
  font-family: 'Open Sans';
  padding: 5px 53px;
  border-radius: 3px;

  transition-duration: 0.3s;

  position: relative;
  top: 415px;
  left: 27px;
}
.button:hover {
  background-color: var(--ButtonHoverColor);
}

#site-contents {
  height: 95vh;
  width: 50vw;
  background-color: var(--PrimaryBackgroundColor);
  z-index: 9999;

  position: fixed;
  top: 2.5vh;
  left: 37vw;
}
