.bg-image::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
  pointer-events: none;
}

.bg-image {
  position: static;
  height: 100%;
  width: 100%;

  background: no-repeat center center;
  background-image: url(assets/background.gif);
  background-size: cover;
}
