body, html {
  height: 100%;
  margin: 0;
}
.discord-profile {
  height: 675px;
  width: 400px;
  background-color: #0D0D0D;
  border-radius: 20px;

  position: fixed;
  top: 75px;
  left: 164px;

  animation: moving 1.5s;


  @keyframes moving {
    0% {
      left: 0px;
    }
    100% {
      left: 164px;
    }
  }
}
.banner-color {
  background-color: #e278b8;
  height: 70px;
  width: 400px;

  border-radius: 20px 20px 0px 0px
}
.about-background {
  height: 475px;
  width: 361px;
  background-color: #211319;
  border-radius: 20px;

  position: absolute;
  top: 180px;
  left: 19px;
}
.avatar {
  width: 120px;
  height: 120px;

  position: absolute;
  top: 33px;
  left: 15px;
}
.discord-name {
  font-family: Montserrat;
  font-weight: 800;
  font-size: 25px;

  position: absolute;
  left: 145px;
  top: 78px;

  color: #FFFFFF;
}
.pronouns {
  font-family: 'Open Sans';
  font-size: 17px;

  position: absolute;
  left: 145px;
  top: 105px;

  color: #FFFFFF
}
.status {
  font-family: 'Open Sans';
  font-size: 15px;

  text-align: center;

  position: relative;
  top: 18px;

  color: #FFFFFF;
}
.h1 {
  font-family: 'Montserrat';
  font-weight: 800;
  font-size: 15px;

  text-align: Center;

  position: relative;

  color: #FFFFFF
}
.about {
  font-family: 'Open Sans';
  font-size: 15px;

  text-align: Left;

  position: absolute;
  left: 13px;
  top: 98px;

  color: #FFFFFF
}
.line {
  background-color: #FFFFFF;
}

.button {
  background-color: #211319;
  color: #FFFFFF;
  border: 2px solid #444;
  text-align: right;
  font-size: 16px;
  font-family: 'Open Sans';
  padding: 5px 53px;
  border-radius: 3px;

  /*background-image: url(assets/favicon.png);
  background-size: 50px;
  background-repeat: no-repeat;*/

  transition-duration: 0.3s;

  position: relative;
  top: 415px;
  left: 27px;
}
.button:hover {
  background-color: #C689C6;
}

.bg-image::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
  pointer-events: none;
}
.bg-image {
  position: static;
  height: 100%;
  width: 100%;

  background: center;
  background-image: url(assets/background.gif);
  background-size: cover;
}